<div class="side-ber-header">
  <div class="user-name">
  ・ユーザー名
  </div>
</div>
<div class="user-header-center">
   <div class="users">
      <div class="user1">
        <a href="#">kuma</a>
      </div>
      
      <div class="user2">
        <a href="#">osima</a>
      </div>

   </div>
</div>
<div class="side-be-under">
</div>
