<div class="top">

  <div class="side-ber">
     <div class="side-ber-header">
         <div class="user-name1">
         <%= link_to "一覧に戻る",  root_path %>
         </div>
      </div>
     <div class="user-header-center">
   <div class="users">
      <div class="user1">
        <a href="#">1日の給料 4050円</a>
      </div>
      
      <div class="user2">
        <a href="#">2日の給料 4050円</a>
      </div>

      </div>
      </div>
      <div class="side-be-under">
       </div>


  </div>






   <div class="main-ber">

     <div clas="main-ber-header">
      <div class="title">
       <h1 class="midasi">¥ 11月の時給計算 ¥</h1>
      </div>
    </div>
     
     <div class="main-ber-cnter">
      <div class="okyuryous">
     <div class="tourokus">
         <div class="touroku">
          <%= link_to "・登録画面・",  new_user11_path %>
          </div>
     </div>
     <div class="ruikei">
     <div class="taimes">
       今月の累計時間 66時間
     </div>
     <div class="moneys">
       今月のお給料  72000円
    </div>
    </div>
   
    </div>
   </div>

   </div>
    
    <div class="main-ber-under">
    </div>

</div>