<div class="contents row">
  <div class="success">
    <h3>投稿が完了しました。</h3>
    <a class="btn" href="/">投稿一覧へ戻る</a>
  </div>
      <%= "今日のお給料は#{@monthl.time * @monthl.hourlywage}円です"%>
</div>



<%# @monthlr = monthlr.order(updated_at: :desc).limit(1) %>
    <%# @monthlr = monthlr.last(1) %>